<md-card>
  <div class="panel-heading">Parties in Line</div>
  <div class="panel-body">
    <table class="table table-striped table-hover table-condensed">
      <thead>
        <tr>
          <th>#</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let party of lineup">
          <td>{{ party.numberOfPeople }}</td>
          <td>{{ party.partyName }}</td>
          <td>
            <button md-icon-button color="warn"
              type="button"
              mdTooltip="Remove Party"
              (click)="partyLeft.emit({ partyId: party.partyId })">
              <md-icon>close</md-icon>
            </button>
          </td>
        </tr>

        <tr ngForm #party="ngForm">
          <td>
            <md-input-container>
              <input mdInput
                name="numberOfPeople"
                type="number"
                ngModel
                placeholder="Number of People">
            </md-input-container>
          </td>
          <td>
            <md-input-container>
              <input mdInput
                name="partyName"
                type="text"
                ngModel
                placeholder="Party Name">
            </md-input-container>
          </td>
          <td>
            <button md-raised-button color="accent"
              type="button"
              (click)="partyJoined.emit(party.value)">
              New Party
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</md-card>