<md-sidenav-container id="wrapper" fullscreen>
  <md-sidenav #sidenav>
    <md-nav-list>
      <a md-list-item *ngFor="let item of navItems"
        [routerLink]="item.path"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }" (click)="sidenav.toggle()">
        <md-icon md-list-icon>{{ item.icon }}</md-icon>
        {{ item.name }}
      </a>
    </md-nav-list>
  </md-sidenav>
  <md-toolbar color="primary" class="mat-elevation-z6">
    <button md-icon-button mdTooltip="Navigation" (click)="sidenav.open()">
      <md-icon svgIcon="burger"></md-icon>
    </button>
    Trendy Brunch
  </md-toolbar>
  <router-outlet></router-outlet>
</md-sidenav-container>
