<tb-panel>
  <header>
    Table Number: {{ table.id }}, # Of Seats {{ table.numberOfSeats }} - {{ table.status }}
  </header>
  <ng-content></ng-content>
  <div *ngIf="table.status === 'CLEAN'">
    <form #curTable="ngForm">
      <md-select name="partyId" mdTooltip="Select Party" [(ngModel)]="partyId">
        <md-option [value]="-1">--Select Party--</md-option>
        <template ngFor let-party [ngForOf]="parties | async">
          <md-option [value]="party.partyId"
          *ngIf="party.numberOfPeople <= table.numberOfSeats">
            {{party.partyName}}
          </md-option>
        </template>
      </md-select>

      <button md-raised-button color="primary"
        [disabled]="curTable.value.partyId == '-1'"
        type="button"
        mdTooltip="Seat party for service"
        (click)="seatParty.emit({ partyId: curTable.value.partyId, tableId: table.id })">
        Seat
      </button>
    </form>
  </div>

</tb-panel>